Assignment_1/Agent_Choice_Over_Time.png
Assignment_2/.Rhistory
Assignment_2/.Rhistory
Assignment_3/.Rhistory
Assignment_2/.Rhistory
Assignment_3/data/Simonsen_clean.csv
Assignment_3/simmodels/simple_bayes-202503250939-1-2dab68.csv
Assignment_3/simmodels/simple_bayes-202503250939-2-2dab68.csv
Assignment_3/simmodels/simple_bayes-202504010908-1-6a786c.csv
Assignment_3/simmodels/simple_bayes-202504010908-2-6a786c.csv
Assignment_3/simmodels/simple_bayes-202504010920-1-9608fc.csv
Assignment_3/simmodels/simple_bayes-202504010920-2-9608fc.csv
Assignment_3/simmodels/simple_bayes-202504010922-1-2a7e26.csv
Assignment_3/simmodels/simple_bayes-202504010922-2-2a7e26.csv
Assignment_3/simmodels/simple_bayes-202504010938-1-737aed.csv
Assignment_3/simmodels/simple_bayes-202504010938-2-737aed.csv
Assignment_3/simmodels/simple_bayes-202504010939-1-6d1a1e.csv
Assignment_3/simmodels/simple_bayes-202504010939-2-6d1a1e.csv
Assignment_3/simmodels/simple_bayes-202504010952-1-4bcec3.csv
Assignment_3/simmodels/simple_bayes-202504010952-2-4bcec3.csv
Assignment_3/simmodels/weighted_bayes-202504010927-1-706dc5.csv
Assignment_3/simmodels/weighted_bayes-202504010927-2-706dc5.csv
Assignment_3/simmodels/weighted_bayes-202504010939-1-016ffd.csv
Assignment_3/simmodels/weighted_bayes-202504010939-2-016ffd.csv
.Rproj.user
Assignment_3/simmodels/simple_bayes_sim.rds

